!!! 5
html(ng-app="myApp")
  head
    //- page info
    title Wookets Wove - Blues of Grandeur
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- styles
    link(rel="stylesheet", type="text/css", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css")
    link(rel="stylesheet", type="text/css", href="styles/main.css")
    
  body(ng-controller="AppController")
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          a.brand PAWove
          ul.nav.nav-pills
            li: a(href="#about") About
            li: a(href="#design") Design
            li: a(href="#code") Code
            li: a(href="#thoughts") Thoughts
            li: a(href="http://blog.wookets.com") Blog
    
    
    header#overview.masthead.jumbotron
      .inner
        .container
          h1 Wookets Wove
          p.lead 
            span The Wove is a professional-personal website regarding the design and development of web applications.
            br
            span It includes rants and raves about patterns, architecture, infrastructure, trends, and other binary star systems.
            br
          p 
            strong Furry critter alert: 
            span The Wove does not attempt to accommodate every kitty cat. Just the ones that meow for food.</p>
       
    .container
    
      section#about
        .page-header
          h1 
            span About 
            small What a wooket? 
        .row
          .span4
            h3 History
            p The Wove has eaten many cookies, cleared many caches, and ran many a reformats.
            p For Wookets are feral wild creatures fearful of hairless beasts. You know, the ones that don't eat cookies.
            p 
              span Read more on 
              a(href="http://blog.wookets.com/") blog.wookets.com &rsaquo;
            p 
              a(href="http://twitter.com/wookets", class="twitter-follow-button") Follow @wookets
              scripe(src="http://platform.twitter.com/widgets.js", type="text/javascript")
          
          .span4
            h3 Toolkit
            p I always find it helpful when fellow creatures share their list of dev tools.
            ul
              li Chrome for Browsing
              li Coda 2 for Code
              li Node for HTTP
              li Mongo for DB
              li Heroku for Host
              li Tower for Git
              li Codekit for Awesome
              li Scrivener for Writes
          
          .span4
            h3 What Else?
            p Outside of development I watch, listen, read, write, play, coach and try to be nice to fellow lifeforms passing through the woodlands.
            ul
              li Give Effort
              li Take Attitude
              li Hold Nice
    
      section#thoughts
        .pull-right: a(href="#") Back to top
        .page-header
          h1 
            span Thoughts 
            small Why a wooket?
        .row
          .span4
            h3 Listen
            p There is always chatter across the wire
            p A few taps to interpret
            p Put your ear to the rail
            p And hear the giants sing
          .span4
            h3 Learn
            p It separates us from the other animals
            p The mating sirens on the wild seas
            p To always destory and rebuild
            p And then we will always see
          .span4
            h3 Apply
            p I have not any dab of glue
            p No wall to paint on
            p Except the belly of your mind
            p Be clear be care
  
    footer.footer
      .container
        p.pull-right
          a(href="#") Back to top
        p 
          span This design shamelfully stolen with all the love in the world from 
          a(href="http://twitter.github.com/bootstrap/", target="_blank") bootstrap 
          span by 
          a(href="http://twitter.com/", target="_blank") twitter
          span .
          br
    //- scripts
    script(src="//s3.amazonaws.com/cdn.actifi.com/lib/bootstrap/2.1.1/js/bootstrap.min.js") //- adds bootstrap specific components

